.avatar {
    width: 100%;
    border-radius: 10%;
}
.edit-avatar-contains {
    flex: 1;
    margin: auto;
}
.choose-avatar-contains {
    width: 100%;
    display: inline-block;
    position: relative;
}
.choose-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.btn-load {
    margin-top: 20px;
    border: 1px solid #000000;
}