.profile-menu {
    display: flex;
    flex-direction: column;
}

.avatar-profile-frame {
    width: 30%;
    padding-top: 30%;
    height: 0px;
    position: relative;
}
.avatar-profile {
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    border-radius: 50%;
}

.item-menu {
    font-size: 14px;
    font-weight: 400;
    color: rgb(216, 216, 216);
    padding: 10px 0px;
    margin-top: 20px;
    border-top:2px solid rgb(49, 49, 49);
    width: 100%;
    cursor: pointer;
}
.item-menu:hover {
    background-color: rgba(199, 199, 199, 0.3);
    border-radius: 10px;
    border-top:2px solid rgba(199, 199, 199, 0);
    color: rgb(255, 255, 255);
}
.item-menu-list {
    width: 90%;
}

.content {
    padding: 20px;
    display: flex;
    background-color: aliceblue;
    border-radius: 20px;
}

.form-control:disabled{
    cursor: default;
}
.btn-list{
    display: flex;
    padding: 10px 0px;
}
.btn-list button {
    margin: 0px 10px !important;
}
.form-info {
    flex: 3;
}

.form-info input {
    font-size: 16px;
}

.profile-info {
    display: flex;
    width: 100%;
}
.userName {
    margin: auto;
    width: 60%;
    word-wrap: break-word;
    /* font-size: 14px; */
    font-weight: 400;
    color: aliceblue;
}