.profile-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.avatar-profile-frame {
    width: 70%;
    padding-top: 70%;
    position: relative;
    margin: 20px 0px;
}
.avatar-profile {
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    border-radius: 10%;
}

.item-menu {
    font-size: 20px;
    font-weight: 400;
    color: rgb(216, 216, 216);
    padding: 10px 20px;
    margin-top: 20px;
    border-top:2px solid rgb(49, 49, 49);
    width: 100%;
    cursor: pointer;
}
.item-menu:hover {
    background-color: rgba(199, 199, 199, 0.3);
    border-radius: 10px;
    border-top:2px solid rgba(199, 199, 199, 0);
    color: rgb(255, 255, 255);
}
.item-menu-list {
    width: 70%;
}

.content {
    margin-top: 40px;
    padding: 20px;
    height: 500px;
    display: flex;
    background-color: aliceblue;
    border-radius: 20px;
}

.form-control:disabled{
    cursor: default;
}
.btn-list{
    display: flex;
    padding: 10px 0px;
}
.btn-list button {
    margin: 0px 10px !important;
}
.form-info {
    flex: 3;
}